.main-navigation {
	@extend .clearfix;
	position: fixed;
	top: 0;
	right: -20em;
	z-index: 999;
	width: 20em;
	height: 100%;
	background: rgba(255,255,255, .9);
	overflow: scroll;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
	@include breakpoint(grande) {
		box-shadow: none;
		position: relative;
		background: transparent;
		overflow: auto;
		width: auto;
		top: 0;
		right: 0;
	}

	&.menu-open {
		right: 0;
		box-shadow: 0 .1875em .3125em #000;
	}

	ul {
		margin-left: 0;

		@include breakpoint(grande) {
			margin: 0 0 0 1.875em;
		}

		li {
			list-style-type: none;
			position: relative;

			@include breakpoint(grande) {
			float: left;
			}

			&.active {
				a {
					background: rgba(213,213,213, .8);
					border-bottom: 0;
				}
			}

			a {
				display: block;
				padding: .625em .3125em .625em 2.5em;
				border-bottom: .0625em solid #bfc0be;
				color: #633615;
				font-size: 1.125em;
				text-decoration: none;

				@include breakpoint(grande) {
					float: left;
					padding: .9375em 1.25em;
					border-bottom: 0;
					color: #223e8b;
					line-height: 1.2; 
					font-size: 1em;
				}

				&:hover {
					@include breakpoint(grande) {
						color: red;
					}
				}
			}
		}

		&.sub-nav {
			display: none;
			background: rbga(213,213,213, .5);

			li {
				a {
					background: rgba(213,213,213, .8);
					padding-left: 3.75em;
					font-size: .888888889em;
				}
			}
		}
	}
}

.menu-toggle {
	float: right;
	background: #ef6927;
	border: none;
	padding: .625em;
	cursor: pointer;
	color: #fff;
	font-size: 1em;

	@include breakpoint(grande) {
		display: none;
	}
}
